<div class="banner d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1);">
  <div class="container text-center">
    <h1>Create a list</h1>
  </div>
</div>

<div class="container col-6 mt-5">
<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= link_to "Back", lists_path, class: "btn btn-primary"%>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
